{{#extends "base"}}
  {{#block "title"}}Dashboard{{/block}}

  {{#block "content"}}
    <h1 class="mx-0 mt-0 mb-3 p-0">Dashboard</h1>
    <div class="d-inline align-items-center">
      <a class="btn btn-success my-1" href="/">New Survey</a>
      <button id="export" class="btn btn-primary my-1">Download to CSV</button>
      <a class="btn btn-warning my-1" href="/logout">Logout</a>
    </div>

    <table id="profiles" class="mt-2 table table-hover table-responsive">
      <thead>
        <tr>
          <th>ID</th>
          <th>Survey Date</th>
          <th>MSW Name</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Race</th>
          <th>Marital Status</th>
          <th>Highest Education Level</th>
          <th>Employment Status</th>
          <th>Main Caregiver?</th>
          <th>Caregiving Length</th>
          <th>Screen Score</th>
          <th>Survey Score</th>
          <th>Zarit details</th>
        </tr>
      </thead>
      <tbody>
        {{#each results}}
          <tr>
            <td>{{this._id}}</td>
            <td>{{this.date}}</td>
            <td>{{this.msw_name}}</td>
            <td>{{this.age}}</td>
            <td>{{this.gender}}</td>
            <td>{{this.race}}</td>
            <td>{{this.marital_status}}</td>
            <td>{{this.education_level}}</td>
            <td>{{this.employment_status}}</td>
            <td>{{this.main_caregiver}}</td>
            <td>{{this.caregiving_length}}</td>
            <td>{{this.screenScore}}</td>
            <td>{{this.surveyScore}}</td>
            <td><a
                class="btn btn-primary btn-sm"
                href="/details/{{this._id}}"
              >Details</a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/block}}

  {{#block "js"}}
    {{!Credits: https://stackoverflow.com/a/56370447/14728340}}
    <script>
      function downloadTable(table_id, separator = ',') { var rows =
      document.querySelectorAll('table#' + table_id + ' tr'); var csv = []; for
      (var i = 0; i < rows.length; i++) { var row = [], cols =
      rows[i].querySelectorAll('td, th'); for (var j = 0; j < cols.length; j++)
      { var data =
      cols[j].innerText.replace(/(\\\\\\\\\\\\\\\\\\\\\\\\\\\\r\n|\n|\r)/gm,
      '').replace(/(\s\s)/gm, ' '); data = data.replace(/"/g, '""');
      row.push('"' + data + '"'); } csv.push(row.join(separator)); } var
      csv_string = csv.join('\n'); var filename = 'export_' + table_id + '_' +
      new Date().toLocaleDateString() + '.csv'; var link =
      document.createElement('a'); link.style.display = 'none';
      link.setAttribute('target', '_blank'); link.setAttribute('href',
      'data:text/csv;charset=utf-8,' + encodeURIComponent(csv_string));
      link.setAttribute('download', filename); document.body.appendChild(link);
      link.click(); document.body.removeChild(link); };
      document.getElementById("export").addEventListener("click",()=>{downloadTable("profiles");})
    </script>
  {{/block}}
{{/extends}}
